<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Welcome to Banjo's world</h1>
        <p>
          Join me in my plushie adventures as we explore the world together.
          Let's embark on new journeys and create memories that will last a
          lifetime! Travel is not just about the places we go; it's about the
          moments we experience and the stories we share. Come along and be a
          part of my plushie travel story.
        </p>
      </div>
      <div class="col-sm-4">
        <img
          src="../../../assets/images/about-page/welcome-section/banjo.jpg"
          class="circle" />
      </div>
    </div>
  </div>
</div>
