<div class="page-wrapper">
  <h2 class="center-align">Meet my family</h2>
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let plushie of plushies">
        <div class="col-sm-4">
          <img
            src="../../../../../assets/images/about-page/meet-my-family-section/{{
              plushie.imgFileName
            }}"
            style="width: 100%; height: 416px; border-radius: 1000px" />
          <div style="display: flex">
            <h3 style="margin: 0.3em auto">
              {{ plushie.name }}
            </h3>
          </div>
          <p>{{ plushie.bio }}</p>
          <p>{{ plushie.birthday }}</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
