<div class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="main-section--text-content">
          <h1>Let's connect</h1>
          <p>
            Drop me a message if you want to share your plushie stories, be
            friends or do business together! I can't wait to hear from you!
          </p>
          <button (click)="sendEmail()">Email Me</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="main-section--image-content">
          <img
            src="../../../assets/images/contact-page/banjo.jpg"
            class="circle" />
        </div>
      </div>
    </div>
  </div>
</div>
