.page-wrapper {
  background-color: var(--color-brown);
  color: var(--color-white);
}

.flexbox {
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  align-items: center;
}

h2, p {
  align-self: center;
  text-align: center;
 }
