@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Quicksand:wght@300..700&display=swap');

:root {
  --color-black: rgb(0, 0, 0);
  --color-blue: rgb(68, 105, 170);
  --color-brown: rgb(129, 63, 29);
  --color-light-grey: rgb(238, 237, 235);
  --color-tan: rgb(192, 175, 160);
  --color-white: rgb(225, 225, 225);

  --font-size-h1: 94px;
  --font-size-h2: 64px;
  --font-size-h3: 54px;
  --font-size-h4: 42px;
  --font-size-h5: 36px;
  --font-size-p: 23px;
  --font-size-a: var(--font-size-p);

  --font-family-heading: 'Coiny', system-ui;
  --font-family-body: 'Quicksand', sans-serif;
}
