h1 {
  font-size: var(--font-size-h1);
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-size-h2);
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
  text-transform: uppercase;
}

h3 {
  font-size: var(--font-size-h3);
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
  text-transform: uppercase;
}

h4 {
  font-size: var(--font-size-h4);
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
  text-transform: uppercase;
}

h5 {
  font-size: var(--font-size-h5);
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
  text-transform: uppercase;
}

p {
  font-size: var(--font-size-p);
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: unset;
}

a {
  font-size: var(--font-size-p);
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
