.page-wrapper {
  background-color: var(--color-brown);
  color: var(--color-white);
}

.flexbox {
  display: flex;
  flex-direction: column;
  padding: 3em 0;
}

.center-align {
  margin-left: auto;
  margin-right: auto;
}
