.xl {
  font-size: 60px;

  @media screen and (max-width: 720px) {
    font-size: 48px;
  }
}

.lg {
  font-size: 48px;

  @media screen and (max-width: 720px) {
    font-size: 36px;
  }
}

.md {
  font-size: 36px;

  @media screen and (max-width: 720px) {
    font-size: 24px;
  }
}

.sm {
  font-size: 24px;
  white-space: pre-wrap;

  @media screen and (max-width: 720px) {
    font-size: 18px;
  }
}

.xs {
  font-size: 20px;

  @media screen and (max-width: 720px) {
    font-size: 18px;
  }
}

a {
  text-decoration: unset;

  span {
    display: inline-block;
    margin-left: 0.5em;
  }
}

a:hover {
  color: var(--color-green);
}
