.navmenu {
  background-color: var(--color-brown);
  overflow: hidden;
}

.navmenu a {
  float: left;
  display: block;
  color: var(--color-white);
  padding: 14px 16px;
  line-height: 42px;
  text-decoration: none;
}

.navmenu a:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.navmenu div.float-right {
  float: right;
  color: var(--color-white);
}

.navmenu .icon {
  display: none;
}

span.social-links {
  a#instagram-link:hover {
    background-color: var(--color-instagram);
  }
  a#threads-link:hover {
    background-color: var(--color-threads);
  }
  a#facebook-link:hover {
    background-color: var(--color-facebook);
  }
  a#x-link:hover {
    background-color: var(--color-x);
  }
  a span {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  span.social-links a span {
    display: inline-block;
    margin-left: 0.5em;
  }

  .navmenu div.float-right {
    display: none;
  }
  .navmenu a.icon {
    float: right;
    display: block;
  }

  .navmenu.responsive {position: relative;}
  .navmenu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navmenu.responsive a, .navmenu.navmenu.responsive div.float-right {
    float: none;
    display: block;
    text-align: left;
  }
}
