nav {
  align-items: center;
  justify-content: center;
  height: 80px;
  background: transparent;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

a.website {
  font-size: var(--font-size-h5);
  font-family: var(--font-family-heading);
  color: var(--color-brown);
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
  text-transform: uppercase;
  text-decoration: unset;
}
