<nav class="flex-container">
  <p class="website">Banjo Hootson</p>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <ul>
    <li>
      <a href="https://instagram.com/banjohootson" target="_blank">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://facebook.com/banjohootson" target="_blank">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/banjohootson" target="_blank">
        <fa-icon [icon]="faXTwitter"></fa-icon>
      </a>
    </li>
  </ul>
</nav>
