ul {
  display: flex;
  gap: 2.5em;
  margin: unset;
  padding-left: unset;
}

li {
  list-style-type: none;
}

.social-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
