<div class="page-wrapper">
  <h2 class="center-align">Meet my family</h2>
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let plushie of plushies">
        <div class="col-sm-6 col-lg-4">
          <div class="flexbox">
            <img
              src="../../../../../assets/images/about-page/family-section/{{
                plushie.imgFileName
              }}"
              class="circle" />
            <h3>
              {{ plushie.name }}
            </h3>
            <p>{{ plushie.bio }}</p>
            <p>{{ plushie.birthday }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
