<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-heading-m">
          Connect with me and let's explore the plushie world together!
        </p>
      </div>
      <div class="col-sm-3" *ngFor="let imageNo of [1, 2, 3, 4]">
        <img
          src="../../../../../assets/images/home-page/connect-section/image-{{
            imageNo
          }}.jpg"
          class="rounded-square" />
      </div>
    </div>
  </div>
</div>
