<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="text-heading-m">
        CONNECT WITH ME AND LET'S EXPLORE THE PLUSHIE WORLD TOGETHER!
      </p>
    </div>
    <div class="col-sm-3">
      <app-image src="home-connect-section-1.jpg" />
    </div>
    <div class="col-sm-3">
      <app-image src="home-connect-section-2.jpg" />
    </div>
    <div class="col-sm-3">
      <app-image src="home-connect-section-3.jpg" />
    </div>
    <div class="col-sm-3">
      <app-image src="home-connect-section-4.jpg" />
    </div>
  </div>
</div>
