// TODO - this needs a proper fix at some point. Very hacky.
div.container {
  padding: 2em 2em 3em 2em;
}

.line-through {
  text-decoration: line-through;
}

.text-heading-s {
  white-space: pre-wrap;
  text-transform: uppercase;
  margin: 0;
}

.name {
  color: var(--color-brown);
}

.location,
.contact {
  color: var(--color-black);
}
