// TODO - this needs a proper fix at some point. Very hacky.
div.container {
  margin-top: 3em;
  margin-bottom: 3em;
}

.line-through {
  text-decoration: line-through;
}

.text-heading-s {
  white-space: pre-wrap;
  text-transform: uppercase;
  margin: 0;
}

.name {
  color: var(--color-brown);
}

.location,
.contact {
  color: var(--color-black);
}

@media screen and (max-width: 1140px) {
  .col-xl-6 {
    text-align: center;
  }
}
