<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <p class="text-heading-s name">Banjo Hootson</p>
        <p>
          Born in Yorkshire, made in
          <span class="line-through">the Royal Navy</span>
          Ikea.
          <app-emoji
            src="footer-swedish-flag-emoji.png"
            alt="Swedish Flag Emoji" />
        </p>
      </div>
      <div class="col-xl-6">
        <div class="row">
          <div class="col-xl-6">
            <p class="text-heading-s location">Location</p>
            <p>Selby, North Yorkshire</p>
            <p>
              United Kingdom
              <app-emoji
                src="footer-uk-flag-emoji.png"
                alt="United Kingdom Flag Emoji" />
            </p>
          </div>
          <div class="col-xl-6">
            <p class="text-heading-s contact">Contact</p>
            <a href="mailto:hello@banjohootson.com">
              hello&#64;banjohootson.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
