div.container {
  padding: 2em 2em 3em 2em;
}

h2, h3, p {
  margin: 0;
}

p span {
  text-decoration: line-through;
}

p.website {
  font-size: var(--font-size-h2);
  font-family: var(--font-family-heading);
  color: var(--color-brown);
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
  text-transform: uppercase;
  line-height: 96px;
}

p.location, p.contact {
  font-size: var(--font-size-h4);
  font-family: var(--font-family-heading);
  color: var(--color-black);
  font-weight: 400;
  font-style: normal;
  white-space: pre-wrap;
  text-transform: uppercase;
  line-height: 96px;
}
