<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-image src="home-introduction-section.jpg" />
    </div>
    <div class="col-md-6">
      <h2>WELCOME TO BANJO'S WORLD</h2>
      <p>
        I'm Banjo, a plushie creator from Yorkshire in the United Kingdom. Join
        me as I spend cosy times at home with my plushie palls, explore lovely
        towns and cities across the UK and even jet set around the world for fun
        new experiences!
      </p>

      <button (click)="navigateToAboutPage()" style="margin-top: 1em">
        Learn More
      </button>
    </div>
  </div>
</div>
