<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img
        src="../../../../../assets/images/home-page/introduction-section/banjo.jpg"
        class="circle" />
    </div>
    <div class="col-md-9">
      <p>
        I'm Banjo, a plushie creator from Yorkshire in the United Kingdom. Join
        me as I spend cosy times at home with my plushie pals, explore lovely
        towns and cities across the UK and even jet set around the world for fun
        new experiences!
      </p>

      <button (click)="navigateToAboutPage()">Learn More</button>
    </div>
  </div>
</div>
