img {
  width: 100%;
}

h2 {
  color: var(--color-brown);
}

div.row {
  padding: 2em;
}

.col-md-3, .col-md-9 {
  margin-bottom: 1em;
}

button {
  background-color: var(--color-black);
}

button:hover {
  background-color: var(--color-blue);
}
